<section class="panel">
    <header class="panel-heading"><i class="fa fa-mobile icon-left"></i>Téléchargez notre application</header>
    <div class="panel-body text-center">
        <p>Téléchargez l'application Pro sur l'App Store et pilotez votre activité depuis votre iPhone ou iPad.</p>
        <a href="https://itunes.apple.com/fr/app/clickeat-restaurateurs/id695490146?mt=8" target="_blank">
            <img src="{{ asset('front/bundle/board/img/appstore.png') }}" style="width: 50%; margin: auto;">
        </a>
    </div>
</section>