<section class="panel">
    <header class="panel-heading"><i class="fa fa-life-ring icon-left"></i>Besoin d'aide ?</header>
    <div class="panel-body text-center">
        <p>Consultez notre aide en ligne ou posez nous directement une question.</p>
    </div>
    <div class="panel-footer">
        <div class="pull-right">
            <a class="btn btn-default" data-target="ajaxModal" href="{{ path('board_contact') }}">Nous contacter</a>
            <a class="btn btn-primary" target="_blank">Accèder au support</a>
        </div>
        <div class="clear"></div>
    </div>
</section>