{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% if forcedPricing is defined and forcedPricing  %}
        {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
            category: 'restaurant',
            route: 'board_meal_library',
            forcedPricing: true,
            forcedPricingLabel: 'Créer une étape',
        } %}
    {% else %}
        {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
            category: 'restaurant',
            route: 'board_meal_library',
            rightLink: path('board_meal_slot_edit', { contextPk: contextPk, context: context }),
            rightLinkLabel: 'Créer une étape',
            rightLinkDrawer: true,
        } %}
    {% endif %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="mealSlots">
    <ul class="nav nav-pills">
        <li><a href="{{ path('board_meal_library', { context: context, contextPk: contextPk }) }}">Mes formules</a></li>
        <li class="active"><a href="{{ path('board_meal_slot_library', { context: context, contextPk: contextPk }) }}">Mes étapes</a></li>
    </ul>
    <br><br>
    <section class="panel">
        <div class="panel-body">
            <table class="table table-hover table-stripped table-bordered" id="datatable" width="100%">
                <thead>
                    <th>Nom</th>
                    <th>Catégories</th>
                    <th>Formules</th>
                </thead>
                <tbody id="mealSlotList" data-url="{{ path('board_meal_slot_library_list', { contextPk: contextPk, context: context }) }}">
                    {% include 'ClabBoardBundle:Meal:slotLibraryList.html.twig' %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}