<div style=
     "background-color: red;margin: 10px; padding: 1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; background-color: white;">
    <div>
        <div class="place-card place-card-large">
            <div class="place-desc-large">
                <div class="place-name">
                    {{ restaurant.name }}
                </div>
                <div class="address">
                    {{ restaurant.address.street }} {{ restaurant.address.zip }} {{ restaurant.address.city }}
                </div>
            </div>
            <div class="navigate" style="display:none"></div>
            <div class="navigate-separator" style="display:none"></div>
            <div class="star-entity">
                <div class="star-button">
                    <div class="star-entity-icon-large">
                        <div class="" style="display:none"></div>
                        <div class="icon logged-out-star"></div>
                    </div>
                    <div class="star-entity-text hidden">
                        Saved
                    </div>
                    <div class="star-entity-text">
                        Save
                    </div>
                </div>
                <div class="tooltip-anchor">
                    <div class="tooltip-tip-outer"></div>
                    <div class="tooltip-tip-inner"></div>
                    <div class="tooltip-content">
                        <div>
                            Save this place onto your Google map.
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-box">
                <div class="" style="display:none"></div>
                <div class="" style="display:none"></div>
                <div class="" style="display:none"></div>
                <div class="" style="display:none"></div>
                <div class="" style="display:none"></div>
                <div class="" style="display:none"></div><a class="" style=
                "display:none"></a>
            </div>
            <div class="saved-from-source-link" style="display:none"></div>
            <div class="bottom-actions">
                <div class="google-maps-link">
                    <a href=
                       "https://maps.google.com/maps?ll=-36.000895,151.629606&amp;z=6&amp;t=m&amp;hl=en&amp;gl=US&amp;mapclient=embed&amp;q=Sydney%20New%20South%20Wales%20Australia"
                       target="_blank">View larger map</a>
                </div><a class="send-to-device-button" style="display:none"
                         target="_blank">Send to device</a>
            </div>
        </div>
    </div>
</div>