<p>Problème d'inscription pour le restaurant {{ restaurant.name }}</p>

<p><strong>Type du problème : </strong>{% if type == 'manager' %}Mauvais compte manager{% else %}Mauvais restaurant à l'adresse spécifiée{% endif %}</p>

<p><strong>Email : </strong>{{ email }}</p>

<p><strong>Phone : </strong>{{ phone }}</p>

{% if message %}
<p><strong>Message : </strong>{{ message }}</p>
{% endif %}