{% extends 'ClabBoardBundle:Base:base.html.twig' %}
{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'social',
        route: 'board_user_database_library',
        rightLink: path('board_user_database_edit', { context: context, contextPk: contextPk }),
        rightLinkLabel: 'Créer une fiche client',
        rightLinkDrawer: true,
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="users">
    <section class="panel">
        <div class="panel-body" id="usersTable">
            <table class="table table-hover table-stripped table-bordered" id="datatable" width="100%">
                <thead>
                <th class="search"><input type="text" placeholder="Rechercher" style="width:100%;"/></th>
                <th class="search"><input type="text" placeholder="Rechercher" style="width:100%;"/></th>
                <th class="search"><input type="text" placeholder="Rechercher" style="width:100%;"/></th>
                <th class="search"><input type="text" placeholder="Rechercher" style="width:100%;"/></th>
                <th class="search"><input type="text" placeholder="Rechercher" style="width:100%;"/></th>
                <th class="search"><input type="text" placeholder="Rechercher" style="width:100%;"/></th>
                {% if context == 'client' %}
                <th class="search"><input type="text" placeholder="Rechercher" style="width:100%;"/></th>
                {% endif %}
                </thead>
                <thead>
                    <th>Email</th>
                    <th>Nom</th>
                    <th>Telephone</th>
                    <th>Anniverssaire</th>
                    <th>Entreprise</th>
                    <th>Note</th>
                    {% if context == 'client' %}
                    <th>Restaurant</th>
                    {% endif %}
                </thead>

                <tbody id="userDatabaseList" data-url="{{ path('board_user_database_list', {context: context,contextPk: contextPk }) }}"
                       class="list">
                    {% include 'ClabBoardBundle:UserDataBase:libraryList.html.twig' %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">

function mix()
{
    $('#userDatabaseList').mixItUp({
        layout: {
            display: 'table-row',
        }
    });
}

function ajaxFormCallback()
{
    $('#userDatabaseList').mixItUp('destroy');
    mix();
}

mix();
{% if user is defined and user %}
    $('#users-{{ user }}').trigger('click');
{% endif %}
</script>
{% endblock %}
