{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% block title %}Ajouter un emplacement{% endblock %}

{% block body %}
<form method="post" action="{{ path('board_foodtruck_create_address', { contextPk: contextPk }) }}">

    {{ form_rest(form) }}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
{% endblock %}