{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% block title %}Paramètres commande à emporter{% endblock %}

{% block body %}
<form method="post" action="{{ path('board_foodtruck_settings_order', { contextPk: contextPk }) }}">
    
    <div class="form-group">
        {{ form_row(form.isOpen, { attr: { class: 'icheck' } }) }}
    </div>

    <hr>

    <div class="form-group">
        {{ form_row(form.orderStart, { attr: { class: 'form-control' } }) }}
    </div>

    {{ form_rest(form) }}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
{% endblock %}