<table class="wrapper" style="border-collapse: collapse;border-spacing: 0;background-color: #383f43;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;table-layout: fixed">
  <tbody><tr>
    <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
      <center>
        <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px">
          <tbody><tr>
            <td class="column" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top;text-align: left">
              <table class="contents-accent-blue" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #212a32">
                <tbody><tr>
                  <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
                    <div><div class="column-top" style="font-size: 30px;line-height: 25px">&nbsp;</div></div>

                      <table style="border-collapse: collapse;border-spacing: 0;width: 100%" width="100%">
                        <tbody><tr>
                          <td class="padded" style="padding-top: 0;padding-bottom: 0;padding-left: 40px;padding-right: 40px;vertical-align: top;text-align: left">

                            <h1 style="Margin-top: 0;font-weight: normal;font-family: sans-serif;font-size: 30px;line-height: 44px;Margin-bottom: 16px;color: #5bc0de">Gérez tout, où que vous soyez</h1>
                            <br>
                            <p style="Margin-top: 0;font-weight: 400;-webkit-font-smoothing: antialiased;font-family: sans-serif;Margin-bottom: 20px;font-size: 14px;line-height: 22px;color: #ffffff">Pour piloter votre restaurant depuis votre iPhone ou votre iPad, téléchargez l’application pro sur l’App Store.</p>

                          </td>
                        </tr>
                      </tbody></table>

                      <div class="image" style="font-size: 0;Margin-bottom: 20px" align="center">
                        <a style="color: #3d88fd" href="https://itunes.apple.com/fr/app/clickeat-restaurateurs/id695490146?mt=8" target="_blank"><img style="border-left-width: 0;border-top-width: 0;border-bottom-width: 0;border-right-width: 0;-ms-interpolation-mode: bicubic;display: block;max-width: 600px" src="{{ domain ~ asset('front/bundle/board/img/mail/appstore.png') }}" alt="" width="600" height="130"></a>
                        </a>
                      </div>

                    <div class="column-bottom" style="font-size: 10px;line-height: 10px">&nbsp;</div>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
      </center>
    </td>
  </tr>
</tbody></table>