<table class="wrapper" style="border-collapse: collapse;border-spacing: 0;background-color: #383f43;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;table-layout: fixed">
  <tbody><tr>
    <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
      <center>
        <table class="one-col-feature" style="border-collapse: collapse;border-spacing: 0;width: 600px;Margin-left: auto;Margin-right: auto">
          <tbody><tr>
            <td class="column" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top;text-align: left">
              <table class="contents-grey" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #e6e7e8">
                <tbody><tr>
                  <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: top">
                    <div><div class="column-top" style="font-size: 30px;line-height: 25px">&nbsp;</div></div>

                      <table style="border-collapse: collapse;border-spacing: 0;width: 100%" width="100%">
                        <tbody><tr>
                          <td class="padded" style="padding-top: 0;padding-bottom: 0;padding-left: 40px;padding-right: 40px;vertical-align: top">

                            <h1 style="Margin-top: 0;font-weight: normal;font-family: sans-serif;color: #212a32;font-size: 30px;line-height: 46px;Margin-bottom: 20px;text-align: left">Besoin d’aide ?</h1>
                            <br>
                            <p style="Margin-top: 0;font-weight: 400;-webkit-font-smoothing: antialiased;font-family: sans-serif;color: #212a32;font-size: 15px;line-height: 25px;Margin-bottom: 20px;text-align: left">Pour toute question, n’hésitez pas à me contacter par mail : {{ mail.link('antoine@click-eat.fr', 'mailto:antoine@click-eat.fr') }} ou par téléphone : <strong>06 78 82 48 92</strong></p>

                          </td>
                        </tr>
                      </tbody></table>

                    <div class="column-bottom" style="font-size: 10px;line-height: 10px">&nbsp;</div>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
      </center>
    </td>
  </tr>
</tbody></table>