<img src="{{ domain ~ asset('front/bundle/clickeat/img/logo/navbar-logo.png') }}" alt="Logo Clickeat">
<br><br>

<p>
Nous avons bien enregistré votre participation à notre jeu "<strong>Gagnez l'application mobile de votre restaurant</strong>", lors du <strong>Sandwich & Snack Show</strong>.<br>
<br>
Merci de votre participation, les résultats du jeu seront communiqués le 30 mars.<br>
<br>
Si vous souhaitez en savoir plus sur Clickeat, la solution de commande en ligne pour les restaurateurs, n'hésitez pas à consulter notre site internet <a href="{{ url('clickeat_pro') }}" style="color:#ec2e61; font-weight: bold;">{{ url('clickeat_pro') }}</a> ou à nous contacter.<br>
<br>
Cordialement,<br>
<br>
Camille Charamon - 01 75 43 21 40 - com@click-eat.fr
</p>
