<img src="{{ domain ~ asset('front/bundle/ttt/img/logo-dark.png') }}" alt="Logo TTT">
<br><br>

<p>
Nous avons bien enregistré votre participation à notre jeu <strong>"Gagnez l'application mobile de votre restaurant"</strong>, lors du <strong>Sandwich & Snack Show</strong>.<br>
<br>
Merci de votre participation, les résultats du jeu seront communiqués le 30 mars.<br>
<br>
Si vous souhaitez en savoir plus sur Track The Truck, l'outil entièrement dédié aux food trucks, n'hésitez pas à consulter notre site internet <a href="{{ url('ttt_pro') }}" style="color:#F21365; font-weight: bold;">{{ url('ttt_pro') }}</a> ou à nous contacter.<br>
<br>
Cordialement,<br>
<br><br>
L'équipe Track The Truck<br>
team@tttruck.com<br>
01.75.43.21.40<br>
<a href="http://tttruck.com" style="color:#F21365; font-weight: bold;">http://tttruck.com</a><br>
</p>