<img src="{{ domain ~ asset('front/bundle/clickeat/img/logo/navbar-logo.png') }}" alt="Logo Clickeat">
<br><br>

<p>Bonjour,<br>
<br>
Merci de votre venue à notre stand, au <strong>Sandwich & Snack Show</strong> !<br>
<br>
Suite à notre échange vous trouverez ci-dessous les liens vers notre plaquette de présentation, le détail de nos tarifs ainsi qu'un guide pour tout savoir sur la commande en ligne.</p>

<p>
    <a href="https://www.dropbox.com/s/ywklw1eb1xjbk91/Nos%20tarifs%20Clickeat.pdf?dl=0" style="color:#ec2e61; font-weight: bold;">Nos tarifs Clickeat.pdf</a><br>
    <br>
    <a href="https://www.dropbox.com/s/kmoqpx5gytv795v/Plaquette%20Clickeat.pdf?dl=0" style="color:#ec2e61; font-weight: bold;">Plaquette Clickeat.pdf</a><br>
    <br>
    <a href="https://www.dropbox.com/s/hqfsc0j98gmydt0/Guide%20Tout%20savoir%20sur%20la%20commande%20en%20ligne.pdf?dl=0" style="color:#ec2e61; font-weight: bold;">Guide tout savoir pour la commande en ligne.pdf</a>
</p>


<p>
N'hésitez pas également à consulter notre site pro, où vous pouvez directement vous inscrire (onglet S'inscrire). <a href="{{ url('clickeat_pro') }}" style="color:#ec2e61; font-weight: bold;">{{ url('clickeat_pro') }}</a><br>
<br>
Naturellement, si vous avez des questions, n'hésitez pas à nous contacter par mail ou par téléphone.<br>
<br>
Cordialement,<br>
<br><br>
Thibaud Channelliere - 06 89 97 96 90 - tchannelliere@click-eat.fr
</p>