<img src="{{ domain ~ asset('front/bundle/ttt/img/logo-dark.png') }}" alt="Logo TTT">
<br><br>

<p>Bonjour,<br>
<br>
Merci de votre venue à notre stand, au <strong>Sandwich & Snack Show</strong> !<br> 
<br>
Suite à notre échange vous trouverez ci-dessous les liens vers notre plaquette de présentation, le détail de nos tarifs ainsi que notre infographie "Comment monter son food truck".</p>

<p>
    <a href="https://www.dropbox.com/s/7cvn1wddl4ainn8/Plaquette%20Track%20The%20Truck.pdf?dl=0" style="color:#F21365; font-weight: bold;">Plaquette Track the Truck.pdf</a><br>
    <br>
    <a href="https://www.dropbox.com/s/ap7g0b3obh6fzac/Nos%20tarifs%20TTT.pdf?dl=0" style="color:#F21365; font-weight: bold;">Nos tarifs TTT.pdf</a><br>
    <br>
    <a href="https://www.dropbox.com/s/dy1xul5er8b0gpv/Comment%20monter%20son%20foodtruck%20infographie.jpg?dl=0" style="color:#F21365; font-weight: bold;">Infographie "Comment monter son food truck"</a>
</p>

<p>
N'hésitez pas également à consulter notre site pro, où vous pouvez directement vous inscrire (onglet Inscription) <a href="{{ url('ttt_pro') }}" style="color:#F21365; font-weight: bold;">{{ url('ttt_pro') }}</a>.<br>
<br>
Naturellement, si vous avez des questions, n'hésitez pas à nous contacter par mail ou par téléphone.<br>
<br>
Cordialement,<br>
<br><br>
L'équipe Track The Truck<br>
team@tttruck.com<br>
01.75.43.21.40<br>
<a href="http://tttruck.com" style="color:#F21365; font-weight: bold;">http://tttruck.com</a><br>
</p>

