{% if not restaurant.isMobile %}
<p class="lead text-center"><a href="https://maps.google.com/?q={{ restaurant.address.street ~ ' ' ~ restaurant.address.zip ~ ' ' ~ restaurant.address.city|url_encode }}" target="_blank">{{ restaurant.address.verbose }}</a></p>
<section id="map">
    <div id="map-canvas"></div>
</section>
{% endif %}

 <div id="footer"> 
    <a href="http://click-eat.fr" target="_blank">
        <img src="{{ asset('front/bundle/iframe/img/poweredby.png') }}" alt="Powered by Clickeat">
    </a>
</div>