{% set renderBackButton = flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
<div class="craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
    <button type="submit" class="craue_formflow_button_last btn btn-primary">
        {%- if flow.getCurrentStepNumber() < flow.getLastStepNumber() -%}
            Suivant<i class="fa fa-arrow-circle-right icon-right"></i>
        {%- else -%}
            {% if saveButton is defined and saveButton %}{{ saveButton }}{% else %}Enregistrer{% endif %}
        {%- endif -%}
    </button>

    {% if renderBackButton and flow.getCurrentStepNumber() > flow.getFirstStepNumber() %}
        <button type="submit" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate" class="btn btn-default">
            Précédent
        </button>
    {% endif %}

    {#
    <button type="submit" class="craue_formflow_button_first btn btn-default" name="{{ flow.getFormTransitionKey() }}" value="reset" formnovalidate="formnovalidate">
        Reset
    </button>#}
</div>
