{% extends 'ClabWhiteBundle:Mail:base.html.twig' %}

{% block title %}
Bienvenue sur la commande en ligne chez Matsuri !
{% endblock %}

{% block body %}
<p>
Bonjour {{ user.fullName }},<br>
<br>
<br>
Tout est bon : vous pouvez désormais vous régaler chez Matsuri en commandant en ligne, c’est encore meilleur !<br>
<br>
Votre identifiant est {{ user.email }}. Votre mot de passe a été choisi par vous directement et peut être changé à tout moment sur votre profil.<br>
Pour garantir la fiabilité de votre compte, pensez à renseigner votre numéro de téléphone. Si ce n’est pas déjà fait, rendez-vous sur votre profil.<br>
<br>
<br>
En vous inscrivant, vous avez accepté les conditions générales d’utilisation du service.<br>
<br>
<br>
Nous vous remercions pour votre confiance et votre appétit.<br>
<br>
L’équipe Matsuri

</p>
{% endblock %}
