{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% if forcedPricing is defined and forcedPricing  %}
        {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
            category: 'restaurant',
            route: 'board_category_library',
            forcedPricing: true,
            forcedPricingLabel: 'Créer une catégorie',
        } %}
    {% else %}
        {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
            category: 'restaurant',
            route: 'board_category_library',
            rightLink: path('board_category_edit', { contextPk: contextPk, context: context }),
            rightLinkLabel: 'Créer une catégorie',
            rightLinkDrawer: true,
        } %}
    {% endif %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="categories">
    <section class="panel">
        <div class="panel-body">
            <table class="table table-hover table-stripped table-bordered" id="datatable" width="100%">
                <thead>
                    <th>Nom</th>
                    <th>Statut</th>
                    <th>Produits</th>
                    <th>Ordre</th>
                </thead>
                <tbody class="sortable" id="categoryList" data-url="{{ path('board_category_library_list', { contextPk: contextPk, context: context }) }}">
                    {% include 'ClabBoardBundle:ProductCategory:libraryList.html.twig' %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.sortable').sortable({
            handle: '.handle',
            cursor: 'move',
            helper: function(event, ui) {
                ui.children().each(function() {
                    $(this).width($(this).width());
                });
                return ui;
            },
            update: function(event, ui) {

                var info = $(this).sortable('serialize');
                console.log(info);
                $.ajax({
                    type: "POST",
                    url: "{{ path('board_category_reorder', { context: context, contextPk: contextPk }) }}",
                    data: info,
                    context: document.body,
                    success: function(e){
                        $('#categoryList').html(e);
                        //console.log(e);
                    }
                })
            }
        });
    });
</script>
{% endblock %}
