body {
	background: #f4f4f4;
}
.center {
	text-align: center;
	padding-top: 100px;
}
.sebm-google-map-container {
	height: 300px;
}
.state-100{
	background: #6E40FF;
}

.state-200{
	background: #FF6E40;
}

.state-400{
	background-color: #69F0AE;
}

.state-500{
	background-color: #BDBDBD;
}

#loader-container {
    position: relative;
    height: 60%;
    width: 100%;
    top:0px;
    left:0px;
    background-color: transparent;
    z-index: 99;
}

#path3025{
  stroke-dasharray: 657;
  stroke-dashoffset: 657;
  animation: dashone 2s infinite 0ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
  fill: none;
  fill-opacity: 0;
}
@keyframes dashone {
  from {
    stroke-dashoffset: 657;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#path3023{
  stroke-dasharray: 378;
  stroke-dashoffset: 378;
  animation: dashtwo 2s infinite 0ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
  fill: none;
  fill-opacity: 0;
}
@keyframes dashtwo {
  from {
    stroke-dashoffset: 378;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#path3005{
  stroke-dasharray: 205;
  stroke-dashoffset: 205;
  animation: dashter 2s infinite 0ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
  fill-opacity: 0;
}
@keyframes dashter {
  from {
    stroke-dashoffset: 205;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-container{
    display: inline-block;
    position: relative;
    color: white;
    text-align: center;
    top: 55%;
    left: 55%;
    width: 20%;
    transform: translate(-55%,-55%);
}
select[name=datatable_length] {
    width: 100px!important;
}
#datatable_filter{
  margin-bottom: 10px!important;
}

.btn-small-transparent{
    height: 32px;
    background: 0 0!important;
    border: none!important;
    color: #adb7be!important;
    padding: 0 7px;
    line-height: 32px;
}

.show{
  display: block !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}