{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block body %}
<div class="container padding-v-10 padding-h-40" id="dashboard">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <section class="panel">
                <div class="panel-body text-center">
                    <img src="{{ asset('front/bundle/board/img/features/icon-iframe.png') }}">
                    <br><br>
                    <h2>Site marchand</h2>
                    <span class="label label-success">Gratuit</span>
                    <br><br>
                    <p>
                        Intégrez une interface de commande en ligne directement sur votre site web ou votre page Facebook. Vos clients pourront directement commander via ces canaux. 
                    </p>
                    <br><br>
                    <form method="post" action="{{ path('board_appstore_activate', { contextPk: contextPk, module: 'iframe' }) }}">
                        <button type="submit" class="btn btn-success btn-lg">Activer</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}