{% extends 'ClabWhiteBundle::baseModal.html.twig' %}

{% block modalClass %}{% endblock %}
{% block modalId %}cartModal{% endblock %}
{% block modalTitle %}Votre Panier{% endblock %}
{% block modalBody %}
    {% if is_mobile() %}
    <div class="back-to-buy">
        <button aria-label="Close" data-dismiss="modal" class="red back-to-button" id="backToBuy">Continuez vos achats</button>
    </div>
    {% endif %}
    <div class="cart">
        <div class="cart-wrapper">
            {{ include('ClabWhiteBundle:Cart:cart.html.twig') }}
        </div>
    </div>
{% endblock %}