{% extends 'ClabWhiteBundle::base.html.twig' %}

{% block bodyClass %}order breadcrumbs{% endblock %}
{% block nav %}
    {{ parent() }}
    {% if is_mobile() %}
        <ul class="nav navbar-nav nav-4 col-md-8 col-xs-12">
            <li class="col-xs-12 no-padding actived"><a disabled href="#" class="steps">Confirmation {% if form.address is defined %}Livraison{% else %}à emporter{% endif %}</a></li>
            <li class="col-xs-12 no-padding"><a disabled href="#">Derniers détails</a></li>
            <li class="col-xs-12 no-padding"><a disabled href="#">Paiement</a></li>
            <li class="col-xs-12 no-padding"><a class="steps actived" href="#">Suivi de commande</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav nav-2 col-sm-10 col-sm-offset-1 no-padding">
            <li class="col-sm-6 no-padding"><a href="#" class="category-group-filter"  data-target-group-category="Matsuri à la carte">Finalisation de votre commande</a></li>
            <li class="col-sm-6 no-padding"><a href="#" class="actived category-group-filter"  data-target-group-category="Plateaux assortis">Suivi de votre commande</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block body %}
    <section class="container order-receipt">
        <div class="col-xs-12 text-center no-padding order-receipt-steps">
            {% if is_mobile() and not order.delivery %}
                <div class="col-xs-6"><p class="col-sm-8 col-sm-offset-2">Commande</p><p class="margin-bottom-25">enregistrée et traitée</p><i class="fa fa-check col-sm-8 col-sm-offset-2 color-green"></i></div>
                <a target="_blank" href="https://maps.google.com?daddr={{ restaurant.address.street ~','~restaurant.address.city ~','~restaurant.address.zip }}"><button class="col-xs-4 col-xs-offset-1 margin-v-25 btn border-color-grey-4 color-grey-4 background-transparent">Itineraire</button></a>
            {% else %}
                <div class="col-sm-{% if not order.delivery %}4{% else %}3 col-xs-6{% endif %}{% if is_mobile() %} margin-v-15{% endif %}"><p class="col-xs-12 col-sm-8 col-sm-offset-2">Commande</p><p class="col-xs-12 col-sm-10 col-sm-offset-1 margin-bottom-25 no-padding">enregistrée et traitée</p><i class="fa fa-check col-xs-12 col-sm-8 col-sm-offset-2 color-green"></i></div>
                <div class="col-sm-{% if not order.delivery %}4{% else %}3 col-xs-6{% endif %}{% if is_mobile() %} margin-v-15{% endif %}"><p class="col-xs-12 col-sm-8 col-sm-offset-2">Commande</p><p class="col-xs-12 col-sm-8 col-sm-offset-2 margin-bottom-25">en préparation</p><i class="fa fa-check col-xs-12 col-sm-8 col-sm-offset-2 {% if order.time <= "now"|date_modify("-20 minutes") %}color-green{% endif %}"></i></div>
                {% if order.delivery %}
                    <div class="col-sm-3 col-xs-6{% if is_mobile() %} margin-v-15{% endif %}"><p class="col-xs-12 col-sm-8 col-sm-offset-2">Commande</p><p class="col-xs-12 col-sm-10 col-sm-offset-1 margin-bottom-25 no-padding">en cours livraison</p><i class="fa fa-check col-xs-12 col-sm-8 col-sm-offset-2 {% if order.time <= "now"|date_modify("-15 minutes") %}color-green{% endif %}"></i></div>
                {% endif %}
                <div class="col-sm-{% if not order.delivery %}4{% else %}3 col-xs-6{% endif %}{% if is_mobile() %} margin-v-15{% endif %}"><p class="col-xs-12 col-sm-8 col-sm-offset-2">Commande</p><p class="col-xs-12 col-sm-8 col-sm-offset-2 margin-bottom-25">délivrée</p><i class="fa fa-check col-xs-12 col-sm-8 col-sm-offset-2 {% if order.time <= "now"|date_modify("+10 minutes") %}color-green{% endif %}"></i></div>
            {% endif %}
        </div>
        <iframe class="col-xs-12 no-padding"
                height="425"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCW6HjPWnexLQ1H-Q82JmcLmDFC4t-u9SE
            &q={{ restaurant.address.street ~','~restaurant.address.city ~','~restaurant.address.zip }}" allowfullscreen>
        </iframe>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if order.time <= "now"|date_modify("+10 minutes") %}
    {% endif %}
{% endblock %}