{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'restaurant',
        route: 'board_meal_library',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10 padding-h-40" id="dashboard">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <section class="panel">
                <div class="panel-body text-center">
                    <img src="{{ asset('front/bundle/board/img/features/icon-meal.png') }}">
                    <br><br>
                    <h2>Vos formules</h2>
                    <br>
                    <p>
                        Créez ici vos formules directement à partir des produits renseignés sur votre carte Clickeat. Ajoutez-y descriptions, prix, photos...
                    </p>
                    <br><br>
                    <a class="btn btn-success btn-lg" href="{{ path('board_feature_activate', { contextPk: contextPk, feature: 'meal' }) }}">Créez votre première formule</a>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}