{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'appstore',
        route: 'board_appstore_website',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10 padding-h-40" id="dashboard">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <section class="panel">
                <div class="panel-body text-center">
                    <img src="{{ asset('front/bundle/board/img/appstore/icon-website.png') }}">
                    <br><br>
                    <h2>Site web</h2>
                    <br>
                    <p>
                        En 1 clic, mettez en place un site web à votre image, toujours à jour grâce à vos informations renseignées sur votre espace pro. Diffusez vos offres, vos produits et vos nouveautés.
                    </p>
                    <br><br>
                    <a class="btn btn-success btn-lg" href="{{ path('board_feature_activate', { contextPk: contextPk, feature: 'website' }) }}">Accèder</a>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}