{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'sales',
        route: 'board_sales_analytics',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10 padding-h-40" id="dashboard">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <section class="panel">
                <div class="panel-body text-center">
                    <img src="{{ asset('front/bundle/board/img/features/icon-reporting.png') }}">
                    <br><br>
                    <h2>Analytics</h2>
                    <span class="label label-warning">A découvrir bientôt</span>
                    <br><br>
                    <p>
                        Découvrez vos produits les plus vendus sur internet, et apprenez en plus sur les habitudes de consommations de vos clients : heures de commande, panier moyen, type de paiement privilégié…
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}