{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'loyalty',
        route: 'board_tools_loyalty',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10 padding-h-40" id="dashboard">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <section class="panel">
                <div class="panel-body text-center">
                    <img src="{{ asset('front/bundle/board/img/features/icon-loyalty.png') }}">
                    <br><br>
                    <h2>Fidélisez tous vos clients</h2>
                    <span class="label label-warning">A découvrir bientôt</span>
                    <br><br>
                    <p>
                        Nos équipes travaillent actuellement sur un système de fidélisation s'intégrant parfaitement dans votre boutique en ligne et sur le point de vente physique. Une fidélité online/offline reliée, pensée pour vous.
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}