{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'social',
        route: 'board_tools_synch',
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10 padding-h-40" id="dashboard">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <section class="panel">
                <div class="panel-body text-center">
                    <img src="{{ asset('front/bundle/board/img/features/icon-reporting.png') }}">
                    <br><br>
                    <h2>Tenez votre contenu internet à jour, partout</h2>
                    <br>
                    <p>
                        A chaque modification de votre profil Clickeat (menu, horaires, photos...), ces informations sont mises à jour automatiquement sur votre site web et la page Facebook de votre restaurant.
                    </p>
                    <br><br>
                    <a class="btn btn-success btn-lg" href="{{ path('board_feature_activate', { contextPk: contextPk, feature: 'synch' }) }}">Accèder</a>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}