{% extends 'ClabBoardBundle:Base:base.html.twig' %}

{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'social',
        route: 'board_discount_library',
        rightLink: path('board_discount_edit', { contextPk: contextPk }),
        rightLinkLabel: 'Créer une offre',
        rightLinkDrawer: true,
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="discounts">
    <section class="panel">
        <div class="panel-body" id="discountTable">
            <table class="table table-hover table-stripped table-bordered" id="datatable" width="100%">
                <thead>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Statut</th>
                </thead>
                <tbody id="discountList" data-url="{{ path('board_discount_library_list', { contextPk: contextPk }) }}" class="list">
                    {% include 'ClabBoardBundle:Discount:libraryList.html.twig' %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
function mix()
{
    $('#discountList').mixItUp({
        layout: {
            display: 'table-row',
        }
    });
}

function ajaxFormCallback()
{
    $('#discountList').mixItUp('destroy');
    mix();
}

mix();

{% if discount is defined and discount %}
    $('#discount-{{ discount }}').trigger('click');
{% endif %}
</script>
{% endblock %}