{% for discount in discounts %}
<tr
    id="discount-{{ discount.slug }}"
    class="mix clickable"
    data-target="drawer" href="{{ path('board_discount_edit', { contextPk: contextPk, slug: discount.slug }) }}"
>
    <td class="name">{{ discount.name }}</td>
    <td>{{ discount.description }}</td>
    <td>
        {% if discount.isOnline %}
            <span class="label label-success">En ligne</span>
          {% else %}
          <span class="label label-danger">Indisponible</span>
          {% endif %}
          {% if discount.isMultisite %}
            <span class="label label-default margin-left">Marque blanche</span>
          {% endif %}
    </td>
</tr>
{% endfor %}