 {% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% block title %}Modification {{ timestamp|date('d/m/Y') }}{% endblock %}

{% block body %}
    <a class="btn btn-primary btn-lg btn-block" href="{{ path('board_delivery_day_create', { context:context, contextPk: contextPk, value: timestamp, cancel: deliveryDay.id }) }}">Modifier</a>
    <br>
    <a class="btn btn-info btn-lg btn-block" href="{{ path('board_delivery_schedule_edit', { context:context, contextPk: contextPk, id: deliveryDay.deliverySchedule.id }) }}">Modifier la tournée</a>
    <br>
    <a class="btn btn-danger btn-lg btn-block" href="{{ path('board_delivery_day_cancel_recurrent', { context:context, contextPk: contextPk, timestamp: timestamp, id: deliveryDay.id }) }}">Annuler à cette date</a>
{% endblock %}