{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% block title %}{{ user.fullName }}{% endblock %}

{% block body %}
<form method="post" action="{{ path('board_user_edit', { context: context, contextPk: contextPk, id: user.id }) }}">

    <div class="form-group">
        {{ form_widget(form.roles, { attr: { class: 'icheck' } }) }}
    </div>

    {{ form_rest(form) }}

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
    <hr>
    <p><span class="label label-danger">Gérant</span> : Accès au back office et aux commandes </p>
    <p><span class="label label-success">Manageur</span> : Accès au back office et aux commandes (hors facturation) </p>
    <p><span class="label label-info">Vendeur</span> : Accès uniquement au dashboard pour réception et traitement des
                                                     commandes </p>
    <p><span class="label label-warning">Livreur</span> : Accès uniquement aux livraisons qui lui sont associées </p>
{% endblock %}
