<form method="post" action="{{ path('board_additional_sale_create', { contextPk: contextPk, slug: additionalSale.slug }) }}" novalidation novalidate class="ajax-form watch" data-callback="#additionalSaleList" data-changed="0">
    <div class="drawer-scroll">
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="big-label">
                    {{ form_row(form.name, { attr: { class: 'form-control input-lg' } }) }}
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
    {% include 'ClabBoardBundle:Base:drawerBottom.html.twig' with { deleteLink: additionalSale.id ? path
    ('board_additional_sale_delete', { contextPk: contextPk, slug: additionalSale.slug }) : null } %}
</form>
