{% extends 'ClabBoardBundle:Base:base.html.twig' %}
{% block subnav %}
    {% include 'ClabBoardBundle:Base:subnav.html.twig' with {
        category: 'social',
        route: 'board_additional_sale_library',
        rightLink: path('board_additional_sale_create', { contextPk: contextPk }),
        rightLinkLabel: 'Créer une vente additionnelle',
        rightLinkDrawer: true,
    } %}
{% endblock %}

{% block body %}
<div class="container padding-v-10" id="additionalSales">
    <section class="panel">
        <div class="panel-body" id="additionalSaleTable">
            <table class="table table-hover table-bordered table-stripped" id="datatable" width="100%">
                <thead>
                <th class="search"><input type="text" placeholder="Rechercher" style="width:100%;"/></th>
                <th class="search"><input type="text" placeholder="Rechercher" style="width:100%;"/></th>
                <th class="search"><input type="text" placeholder="Rechercher" style="width:100%;"/></th>
                <th class="search"><input type="text" placeholder="Rechercher" style="width:100%;"/></th>
                </thead>
                <thead>
                    <th>Nom</th>
                    <th>Lors de l'ajout de</th>
                    <th>Propose</th>
                    <th>Disponibilité</th>
                </thead>
                <tbody id="additionalSaleList" data-url="{{ path('board_additional_sale_library_list', { contextPk: contextPk }) }}"
                       class="list">
                    {% include 'ClabBoardBundle:AdditionalSale:libraryList.html.twig' %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        function mix()
        {
            $('#additionalSaleList').mixItUp({
                layout: {
                    display: 'table-row',
                }
            });
        }

        function ajaxFormCallback()
        {
            $('#additionalSaleList').mixItUp('destroy');
            mix();
        }

        mix();

        {% if additionalSale is defined and additionalSale %}
        $('#additionalSale-{{ coupon }}').trigger('click');
        {% endif %}
    </script>
{% endblock %}
