{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% block title %}Conditions Générales d’Utilisation et de Vente{% endblock %}

{% block body %}
<div class="well" style="height: 400px; overflow-y: scroll;">
    {% include 'ClabBoardBundle:Subscription:contracts/' ~ terms.contractVersion ~ '.html.twig' with { terms: terms } %}
</div>
<form action="{{ path('board_subscription_terms_send', { contextPk: proxy.slug }) }}" method="post">
    <input type="hidden" name="backUrl" value="{{ url('board_onboard_custom_final', { slug: proxy.slug }) }}">
    <input type="hidden" name="email" value="{{ proxy.managerEmail }}">
    <button type="submit" class="btn btn-default btn-block"><i class="fa fa-envelope icon-left"></i>Envoyer par mail</button>
</form>
{% endblock %}
