{% extends '::Mail/content.html.twig' %}

{% block title %}
Demande d'inscription
{% endblock %}

{% block body %}
<br>
Bonjour ,<br>
{% if request.author %}{{ request.author.fullName }}{% else %}Un utilisateur{% endif %} souhaite vous inscrire sur nos services.
Pour cela, veuillez vous connecter <a href="{{ url('fos_user_registration_register', { email: request.email }) }}">à notre page d'inscription</a>. Vous devez vous inscrire avec l'adresse email à laquelle vous recevez ce message.
<br><br>
{% if request.message %}
Il vous a laissé ce message :<br>
{{ request.message }}
{% endif %}

<br><br><br>
A très bientôt,<br>
<br><br>
L’équipe Clickeat.
{% endblock %}
