{%- macro form(form, searchLabel, hideFields) -%}
    <div class="form-group">
        <label>{% if searchLabel is defined and searchLabel %}{{ searchLabel }}{% else %}Rechercher une adresse{% endif %}</label>
        <input class="form-control input-lg input-focus" id="search" placeholder="ex: 2 rue du Temple, Paris">
    </div>
    <div {% if hideFields is defined and hideFields %}style="display:none;"{% endif %}>
        <div class="form-group">
            {{ form_row(form.street, { attr: { class: 'form-control street_number', placeholder: 'Rue' } }) }}
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.zip, { attr: { class: 'form-control postal_code', placeholder: 'Code postal' } }) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.city, { attr: { class: 'form-control locality', placeholder: 'Ville' } }) }}
                </div>
            </div>
        </div>
    </div>
{%- endmacro -%}

{%- macro script() -%}
<script type="text/javascript">
var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    postal_code: 'short_name'
};

function initialize() {
    autocompleteAddress = new google.maps.places.Autocomplete((document.getElementById('search')), { types: ['geocode'] });
    google.maps.event.addListener(autocompleteAddress, 'place_changed', function() {
        fillInAddress();
    });
}

function fillInAddress() {
    var place = autocompleteAddress.getPlace();

    var result = {
        street_number: '',
        route: '',
        locality: '',
        postal_code: ''
    };

    for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            result[addressType] = val;
        }
    }

    $('.street_number').val(result['street_number'] + ' ' + result['route']);
    $('.postal_code').val(result['postal_code']);
    $('.locality').val(result['locality']);
}

initialize();

$('body').keypress(function(e) {
    if (e.keyCode == '13') {
        e.stopPropagation();
    }
});
</script>
{%- endmacro -%}