{% extends 'ClabCallCenterBundle:Default:base.html.twig' %}

{% block body %}
<div class="container">
    {% include 'ClabCallCenterBundle:Default:breadcrumb.html.twig' with { step: 'final' } %}

    <br><br>
    <section class="panel">
        <div class="panel-body">
            <h2>6. Récapitulatif</h2>
            <hr>
            <div class="container" style="margin-top: 0px;">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <p class="text-center">
                            Votre commande a bien été prise en compte<br>
                            {# un email de confirmation vous a été envoyé #}
                        </p>
                        <hr>
                        <h5 class="uppercase">{{ restaurant.name }}</h5>
                        <p>{{ restaurant.address }}</p>
                        <br>
                        <h5 class="uppercase">Heure de {% if order.orderType.id == 3 %}livraison{% else %}retrait{% endif %}</h5>
                        <p>{{ order.time|date('d/m/Y H:i') }}</p>
                        <hr>
                        <p class="text-center uppercase">Bon appétit !</p>
                    </div>
                    <a href="{{ path("clab_call_center_homepage") }}">
                        <button class="btn btn-primary col-xs-6 col-xs-offset-3">Client suivant</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
