<p>Madame, Monsieur {{ name }},<br>
Vous trouverez ci-joint un exemplaire de notre Guide pour tout savoir sur la commande en ligne.<br>
<br>
N'hésitez pas à nous contacter par mail à commercial@click-eat.fr ou par téléphone au 01.75.43.21.40 pour toute information complémentaire.<br>
<br>
Bonne lecture,<br>
<br>
Cordialement,<br>
<br>
L'équipe Clickeat</p>