{% extends 'ClabBoardBundle:Mail:base.html.twig' %}
{% import 'ClabBoardBundle:Mail:macro/mail.html.twig' as mail %}

{% block body %}
    {% include 'ClabBoardBundle:Mail:partials/blockWhite.html.twig' with {
        block1: true,
        title1: "Bonjour " ~ user.firstName,
        content1: "
            Nous sommes heureux de vous compter parmi nos clients. Et nous sommes sûrs que les utilisateurs de Clickeat le seront aussi !
        ",
        button1: true,
        button1Label: "Votre profil Clickeat",
        button1Link: url('clickeat_store_profile', { slug: restaurant.slug }),
        block2: true,
        content2: '
            <strong>Vous êtes prêt, faites le savoir !</strong><br>
            <br>
            Informez vos clients que vous acceptez dès à présent les commandes en ligne :<br>
            <br>
            <a href="http://www.facebook.com/share.php?u=' ~ url('clickeat_store_profile', { slug: restaurant.slug }) ~ '" style="border-bottom: none;"><img src="' ~ domain ~ asset('front/bundle/board/img/mail/facebook-share.png') ~ '" alt="Facebook"></a>
            <br><br>
            <a href="https://twitter.com/intent/tweet?text=Pressé et affamé? Découvrez mon profil @Clickeat. ' ~ url('clickeat_store_profile', { slug: restaurant.slug }) ~ '" style="border-bottom: none;"><img src="' ~ domain ~ asset('front/bundle/board/img/mail/twitter-share.png') ~ '" alt="Twitter"></a>

            <br><br><br>

            <strong>Votre menu sur Facebook et votre site web</strong><br>
            <br>
            Savez-vous que votre offre actuelle vous permet de proposer la commande en ligne à vos clients directement depuis :<br>
            - la page Facebook de votre restaurant. <a href="' ~ url('board_appstore_iframe', { contextPk: restaurant.slug }) ~ '">Votre menu sur Facebook</a><br>
            - votre site web. <a href="' ~ url('board_appstore_iframe', { contextPk: restaurant.slug }) ~ '">Votre menu sur votre site</a><br> 

            <br><br><br>
            ' ~ "L'équipe Clickeat"
        ,
    } %}
    {% include 'ClabBoardBundle:Mail:partials/spacer.html.twig' %}
    {% include 'ClabBoardBundle:Mail:partials/blockAppstore.html.twig' %}
    {% include 'ClabBoardBundle:Mail:partials/spacer.html.twig' %}
    {% include 'ClabBoardBundle:Mail:partials/blockHelp.html.twig' %}
{% endblock %}