{% extends 'ClabBoardBundle:Base:baseModal.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
<h3>Je souhaite une information commerciale</h3>
<p>Vous pouvez contacter notre équipe à l'adresse suivante : <a href="mailto:commercial@click-eat.fr">commercial@click-eat.fr</a></p>

<h3>Je souhaite contacter le support</h3>
<p>Laissez nous un message dans la petite bulle "Besoin d'aide ?" en bas à gauche de votre écran.</p>
<p>Vous pouvez aussi contacter notre équipe à l'adresse suivante : <a href="mailto:support@click-eat.fr">support@click-eat.fr</a></p>
{% endblock %}